{deps, [
    {ux,
     ".*",
     {git,
      "https://github.com/erlang-unicode/ux.git",
      "0ccdba1f1acb1545e32693215d5b2a50879e217e"}}
]}.

{erl_opts, [
    {platform_define, "^R1[0-5]", float_to_list_1},
    {platform_define, "^[^R1][0-9]", deprecated_string_funcs_20},
    {platform_define, "^R", dict_0}
]}.
