{deps, [{ux, ".*", {git, "https://github.com/tvv/ux.git", {branch, "master"}}}]}.

{erl_opts, [
    {platform_define, "^R1[0-5]", float_to_list_1},

    %% dict/0 was deprecated in 17 and removed in 18. Prior versions had "R"
    % prefix so we base support on that.
    {platform_define, "^R", dict_0}
]}.
